.body{
    font-family: "Maison Neue",sans-serif;
    /* background-color: #5A6870; */
    background-color: lightgrey;
    /* color: #424242; */
    height: 100%;
}
.material-icons,.col-md-3 {
    vertical-align:top;
  }
  