
  .btn1:hover {
    -webkit-transform: scale(1.1);
    border:  1px solid black;
  }

  .cb1:hover{
    -webkit-transform: scale(1.1);
    border:  1px solid black;
  }
  .container-fluid{
    height: 100%;
    background-color: lightblue;
  }
  .btn1{
      /* width: 20px; */
  }
  .smartphone {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }
  
  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }
  
  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }
  
  /* The screen (or content) of the device */
  .smartphone .content {
    width: 360px;
    height: 640px;
    background: white;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:70px ;
    background-color: #424242;
    /* color: white; */
    text-align: center;
    font-size: larger;
  
 }
 .ButtonState:focus {
  /* outline: 0; */
  border: 10px solid gold;
}
.selected {
  color: blue;
  border-left: 4px solid blue;
}
 .btn2{
   margin-bottom: 0px;
  background-color: #90c52d;
  width: 25%;
  font-size: 20px;
  font-weight: bold;
 }

 .btn2:hover{
  -webkit-transform: scale(1.1);
 }
 .title{
  padding-left: 62px;
  font-size: 20px; 
  font-family: monospace;
 }
 
 @media screen and (max-width: 600px) {
   .row-icon,.text-icon{
     text-align: center;
   }
  .mobile1 {
    visibility: hidden;
    /* clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%; */
    display: none;
  }
  .container-fluid{
    height: 300%;
  }
  
  .title{
    padding-left: 0px;
    font-size: 15px;
    text-align: center;
   }
 
}
 @media screen and (max-width: 1600px) {
 
  .mobile1 {
    visibility: hidden;
    /* clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%; */
    display: none;
  }
 
 
}
