.scrollDown{
    margin:10px 50px;
    padding: 20px 0;
   
}
.card-body{
    height:100px;
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    padding: auto;
}

.signupFeature{
    margin:50px 50px;
}

.signupFeature div h6{
    font-weight: 700;
}
.signupFeature div p{
    text-align: justify;
    margin-top: 30px;
}

.space{
    margin-top: 70px;
}

.block{
    width:80vw;
    height:200px;
    margin:10vw;
    background-color: rgb(247,247,247);
}

.block div button{
    background-color:rgb(103,188,234) ;
    border:none;
    box-shadow: 2px 4px 8px rgb(141, 140, 140);
    font-weight: 500;
    /* width:100px; */
}


.Companies{
    margin:60px 50px;
}


.Companies div{
    margin-bottom: 50px;
}


.reviews{
    margin:60px 10vw;
}

.reviews div{
    background-color: rgb(247,247,247);
    padding:70px;
}


.reviews div p{
    margin-top: 40px;
    color:gray;
    text-align: justify;
}


.aboutQR{
    margin:60px 10vw;
}


.aboutQR div p span{
   padding:15px 20px;
    width:200px;
    height:100px;
    border:1px solid gray;
    border-radius: 50%;
    margin-right: 20px;
    font-weight: 600;
    background-color: white;
}

.aboutQR div .p{
    margin-top: 40px;
    color:gray;
    text-align: justify;
}


.key{
    margin:80px 10vw;
}

.key div p{
    text-align: justify;
    margin-top: 40px;
    color:gray;
}