<mat-progress-bar *ngIf="!data" mode="indeterminate"></mat-progress-bar>
<mat-spinner class="spinner" *ngIf="!data"></mat-spinner>
<div *ngIf="data" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 offset-md-3">
  
        <div class="card-body bg-dark">
          <div class="text-center" style="background-color: rgb(68, 127, 182);" >
            <!-- <img src="" alt=""> -->
            <!-- class="img" [style.width.px]="ImgSize" [src]="imgURL"
                          *ngIf="imgURL" -->
            <img [style.width.px]="ImgSize"  [src]="imgURL"  class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
         <div class="jumbotron h-25" [ngStyle]="{background: backgroundColor}">
     <h6 [ngStyle]="{color: fontColor}" class="font-weight-bold mt-2"> {{data2.basic_information.headline}}</h6>
    
     <mat-card-subtitle class="j" [ngStyle]="{color: fontColor}">{{data2.basic_information.aboutUs}}</mat-card-subtitle>
        
         </div>
         <mat-list [ngStyle]="{background: linkColor}" >
          <mat-list-item ><i class="fa fa-chrome mr-2" aria-hidden="true"></i>{{data2.socialMedia.websiteText}}<br>{{data2.socialMedia.websiteUrl}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><i class="fa fa-facebook-square mr-2" aria-hidden="true"></i>{{data2.socialMedia.facebookText}} <br>{{data2.socialMedia.facebookUrl}}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><i class="fa fa-youtube-square mr-2" aria-hidden="true"></i>{{data2.socialMedia.youtubeText}}<br>{{data2.socialMedia.youtubeUrl}}</mat-list-item>
          <!-- <mat-divider></mat-divider> -->
        </mat-list>
          </div>
        </div>
          
     
  
      </div>
    </div>
  </div>
</div>