<mat-progress-bar *ngIf="spinner" mode="indeterminate"></mat-progress-bar>
<div class="body">


	<div class="container-fluid">


		<div class="row">

			<div class="col-md-6 offset-md-1">
				<div>

					<div style="margin-top: 10%;">
						<!-- <input type="text"> -->

						<!-- <mat-form-field>
            <input matInput placeholder="label" value="value">
          </mat-form-field> -->
						<!-- <div class="text-center"> -->

						<!-- </div> -->

					</div>
					<div class="text-center">
						<mat-form-field class="example-form-field" style="width: 400px;">

							<mat-label><span class="material-icons mr-2">
								library_music
								</span> Mp3 Name</mat-label>
							<input matInput type="text" [(ngModel)]="cname">
							<button mat-button *ngIf="cname" matSuffix mat-icon-button aria-label="Clear"
								(click)="cname=''">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</div>
					<div class="mt-2">
						<mat-accordion>
							<mat-expansion-panel (closed)="panelOpenState = true" (opened)="panelOpenState = false" [expanded]="true">
								<mat-expansion-panel-header class="bg-dark">
									<mat-panel-title class="">
										Mp3 QR Generation
									</mat-panel-title>
									<mat-panel-description>
										<span class="material-icons mr-2">
											perm_device_information
										</span> Basic Information

									</mat-panel-description>
								</mat-expansion-panel-header>
								<div class="card">
									<div class="card-body">

										<div class="container">
									
												<label for="fname">Mp3:</label>
												<input type="file" id="mp3" (change)="changeFile($event)" name="mp3" class="ftext"
													placeholder="Your audio here..." 
													style="color: blue; border: 2px solid black;">
							
										
										</div>
									</div>
								</div>
							</mat-expansion-panel>
					

						</mat-accordion>
					</div>
					<div class="mt-2">

						<mat-accordion>
							<mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true" [expanded]="true">
								<mat-expansion-panel-header class="bg-dark text-light">

									<mat-panel-title>
										Mp3 QR Generation
									</mat-panel-title>
									<mat-panel-description>
										<span class="material-icons mr-2">
											design_services
										</span>
										Design & Customization
									</mat-panel-description>
								</mat-expansion-panel-header>
								<div class="card">
									<div class="text-center font-weight-bold"><i class="material-icons">
											colorize
										</i> Choose Colors</div>
									<div class="card-body">





										<input type="color" name="" id="" class="form-control"
											[(ngModel)]="backgroundColor">
										<app-color-picker [color]="backgroundColor" [heading]="'Background'"
											(event)="setColor('background', $event)"></app-color-picker>






										<div class="picker">
											<input type="color" name="" id="" class="form-control"
												[(ngModel)]="fontColor">
											<app-color-picker [color]="fontColor" [heading]="'Font'"
												(event)="setColor('font', $event)">
											</app-color-picker>
										</div>

										<div class="picker">
											<input type="color" name="" id="" class="form-control"
												[(ngModel)]="linkColor">
											<app-color-picker [color]="linkColor" [heading]="'Links'"
												(event)="setColor('link', $event)">
											</app-color-picker>
										</div>


										<div class="color-picker">
											<div class="summary-info" (click)="toggleColors()">
												<div class="info">
													<p class="style">{{ heading }}</p>
													<p class="style-value">{{ color }}</p>
												</div>

												<div class="circle" [ngStyle]="{'background': color}"></div>
											</div>

											<div *ngIf="show" class="opened">
												<div class="colors">
													<div (click)="changeColor(paint)"
														*ngFor="let paint of defaultColors" class="circle"
														[ngStyle]="{'background': paint}"></div>
												</div>

												<div class="hex-code">
													<p>Hex Code</p>
													<div class="g-input">
														<input type="text" maxlength="7" [value]="color"
															(keyup)="changeColorManual(paintInput.value)"
															(keydown.enter)="toggleColors()" #paintInput />
													</div>
												</div>
											</div>
										</div>
										<mat-divider></mat-divider>

										<div class="ml-3 font-weight-bold text-center"><span class="material-icons">
												image
											</span> Image </div>

										<div> Size </div>
										<div style="color:red;" *ngIf="message">{{message}}</div>
										<mat-slider min="50" max="260" step="20.5" value={{ImgSize}} thumbLabel
											[displayWith]="formatLabel" tickInterval="1000"
											(change)="updateSetting($event)"></mat-slider>
										<input #file type="file" name="image" accept='image/*' (change)="changeFile($event)" (change)="preview(file.files)"
											class="btn">
									</div>


								</div>
							</mat-expansion-panel>

						</mat-accordion>
					</div>


				
					<div class="mt-2">
						<mat-accordion>
							<mat-expansion-panel (closed)="panelOpenState = true" (opened)="panelOpenState = false" [expanded]="true">
								<mat-expansion-panel-header class="bg-dark">
									<mat-panel-title class="">
										Mp3 QR Generation
									</mat-panel-title>
									<mat-panel-description>
										<span class="material-icons mr-2">
											library_music
										</span> Mp3 Information

									</mat-panel-description>
								</mat-expansion-panel-header>
								<div class="card">
									<div class="card-body">

										<div class="container">
											<form>
												<label for="title">Title:</label>
												<input type="text" id="title" name="title" class="ftext"
													placeholder="Your Title" [(ngModel)]="title">

												<label for="validity">Information:</label>
												<input type="text" id="info" name="info" class="ftext"
													placeholder="Your last name.." [(ngModel)]="info">
												<!-- <label for="tnc">Terms & Conditions:</label>
												<textarea id="tnc" name="tnc" placeholder="Mention all T&Cs"
													style="height:80px" [(ngModel)]="tnc"></textarea> -->

												<label for="web">Website:</label>
												<textarea id="web" name="web" placeholder="Type your website here"
													style="height:80px" [(ngModel)]="web"></textarea>


												<label for="btn">Website:</label>
												<textarea id="btn" name="btn" placeholder="Type your button name"
													style="height:80px" [(ngModel)]="btn"></textarea>

													


												<!-- <input type="text" name="product" list="productName"/>
<datalist id="productName">
    <option value="Pen">Pen</option>
    <option value="Pencil">Pencil</option>
    <option value="Paper">Paper</option>
</datalist> -->

												<!-- <input type="submit" value="Submit"> -->
											</form>
										</div>
									</div>
								</div>
							</mat-expansion-panel>
							<!-- <mat-action-row>
                        <button mat-button>Click me</button>
                      </mat-action-row> -->

						</mat-accordion>
					</div>

				</div>
				<div class="footer text-center">
					<button class="btn btn2 mt-5 mb-2" (click)="navigate()">Next</button>
					
				</div>
			
			</div>

			<div class="col-md- 2 offset-md-1 mobile">
				<!-- <mobile></mobile> -->


				<!-- <button class="badge badge-pill badge-primary"></button>
          <button class="badge badge-pill badge-primary">QR Code</button>
        </span> -->


				<div class="card-body" style="position:fixed; ">
					<!-- <div class="form-inline">
        <div class="box-3 ">
          <div class="btn3 btn-three">
            <span (click)="change2()" >{{btn1}}</span>
            
          </div>
        </div>
      
       </div> -->

					<div class="smartphone" style="background-color: rgb(68, 127, 182);position:fixed;">

						<!-- <div class="text-center"> -->
						<!-- <div class="content"> -->
							<mat-spinner class="spinner" *ngIf="spinner"></mat-spinner>
						<div *ngIf="!spinner">
							<div >

								<div class="container main-content mt-4 ">

									<div class="card">
										<div class="card-header">
											<div class="row">
												<div class="col-md-10"><span> {{title}}</span></div>
												<div class="col-md-2">
													<span class="material-icons share" style="position:static;">
														share
													</span></div>
											</div>
										</div>
										<div class="background" [ngStyle]="{background: backgroundColor}">
											<div>
												<img class="img" [style.width.px]="ImgSize" [src]="imgURL"
													*ngIf="imgURL">
											</div>
										

											<div class="card-body">
												<h5 class="text-center font" [ngStyle]="{color: fontColor}">{{title}}</h5>
												<div [ngStyle]="{color: fontColor}" class="text-center font2">
													{{info}}
													
												</div>

												
												  
											</div>
											
										</div>
										<div class="text-center">
											<audio controls>
												<source src="mp3" type="audio/ogg">
									
											  </audio>
										</div>
										<div class="text-center pt-4">
											
											<button class="btn btn-block text-light" [ngStyle]="{background: linkColor}"
												(click)="couponc()">{{btn}}</button>
										</div>
										
									</div>
								

								</div>
								<div class="pt-1 text-center font">{{web}}</div>
							</div>

						
						</div>
					
					</div>



				</div>

				<!-- <button mat-flat-button style="margin-top: 610px; margin-left: 110px;" class="round" color="primary" (click)="change2()">QR Code</button> -->
				<button style="margin-top: 612px; margin-left: 160px;position: fixed;" mat-flat-button class="round"
					color="accent" (click)="change2()" *ngIf="img1">{{btn1}}</button>


			</div>

		</div>

	</div>

</div>
