<mat-progress-bar *ngIf="spinner" mode="indeterminate"></mat-progress-bar>
<div class="body">


	<div class="container-fluid">


		<div class="row">

			<div class="col-md-6 offset-md-1">
				<div>

					<div style="margin-top: 10%;">
						<!-- <input type="text"> -->

						<!-- <mat-form-field>
            <input matInput placeholder="label" value="value">
          </mat-form-field> -->
						<!-- <div class="text-center"> -->

						<!-- </div> -->

					</div>
					<div class="text-center">
						<mat-form-field class="example-form-field" style="width: 400px;">

							<mat-label><span class="material-icons mr-2">
									local_offer
								</span> Coupon Name</mat-label>
							<input matInput type="text" [(ngModel)]="cname">
							<button mat-button *ngIf="cname" matSuffix mat-icon-button aria-label="Clear"
								(click)="cname=''">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</div>

					<div class="mt-2">

						<mat-accordion>
							<mat-expansion-panel (closed)="panelOpenState = false" (opened)="panelOpenState = true">
								<mat-expansion-panel-header class="bg-dark text-light">

									<mat-panel-title>
										Coupon Generation
									</mat-panel-title>
									<mat-panel-description>
										<span class="material-icons mr-2">
											design_services
										</span>
										Design & Customization
									</mat-panel-description>
								</mat-expansion-panel-header>
								<div class="card">
									<div class="text-center font-weight-bold"><i class="material-icons">
											colorize
										</i> Choose Colors</div>
									<div class="card-body">





										<input type="color" name="" id="" class="form-control"
											[(ngModel)]="backgroundColor">
										<app-color-picker [color]="backgroundColor" [heading]="'Background'"
											(event)="setColor('background', $event)"></app-color-picker>






										<div class="picker">
											<input type="color" name="" id="" class="form-control"
												[(ngModel)]="fontColor">
											<app-color-picker [color]="fontColor" [heading]="'Font'"
												(event)="setColor('font', $event)">
											</app-color-picker>
										</div>

										<div class="picker">
											<input type="color" name="" id="" class="form-control"
												[(ngModel)]="linkColor">
											<app-color-picker [color]="linkColor" [heading]="'Links'"
												(event)="setColor('link', $event)">
											</app-color-picker>
										</div>


										<div class="color-picker">
											<div class="summary-info" (click)="toggleColors()">
												<div class="info">
													<p class="style">{{ heading }}</p>
													<p class="style-value">{{ color }}</p>
												</div>

												<div class="circle" [ngStyle]="{'background': color}"></div>
											</div>

											<div *ngIf="show" class="opened">
												<div class="colors">
													<div (click)="changeColor(paint)"
														*ngFor="let paint of defaultColors" class="circle"
														[ngStyle]="{'background': paint}"></div>
												</div>

												<div class="hex-code">
													<p>Hex Code</p>
													<div class="g-input">
														<input type="text" maxlength="7" [value]="color"
															(keyup)="changeColorManual(paintInput.value)"
															(keydown.enter)="toggleColors()" #paintInput />
													</div>
												</div>
											</div>
										</div>
										<mat-divider></mat-divider>

										<div class="ml-3 font-weight-bold text-center"><span class="material-icons">
												image
											</span> Image </div>

										<div> Size </div>
										<div style="color:red;" *ngIf="message">{{message}}</div>
										<mat-slider min="50" max="260" step="20.5" value={{ImgSize}} thumbLabel
											[displayWith]="formatLabel" tickInterval="1000"
											(change)="updateSetting($event)"></mat-slider>
										<input #file type="file" name="image" accept='image/*' (change)="changeFile($event)" (change)="preview(file.files)"
											class="btn">
									</div>


								</div>
							</mat-expansion-panel>

						</mat-accordion>
					</div>


					<div class="mt-2">
						<mat-accordion>
							<mat-expansion-panel (closed)="panelOpenState = true" (opened)="panelOpenState = false">
								<mat-expansion-panel-header class="bg-dark">
									<mat-panel-title class="">
										Coupon Generation
									</mat-panel-title>
									<mat-panel-description>
										<span class="material-icons mr-2">
											perm_device_information
										</span> Basic Information

									</mat-panel-description>
								</mat-expansion-panel-header>
								<div class="card">
									<div class="card-body">

										<div class="container">
											<form>
												<label for="fname">Company:</label>
												<input type="text" id="fname" name="firstname" class="ftext"
													placeholder="Your Company's name.." [(ngModel)]="Company">

												<label for="lname">Headline:</label>
												<input type="text" id="lname" name="lastname" class="ftext"
													placeholder="Title" [(ngModel)]="heading">
												<label for="subject">Description:</label>
												<textarea id="subject" name="subject"
													placeholder="Write something about coupon" style="height:80px"
													[(ngModel)]="desc"></textarea>

												<label for="country">Offer: </label>
												<input type="text" id="offer" name="offer" class="ftext"
													placeholder="Type Offer Here" [(ngModel)]="offer">
												<!-- <select id="country" name="country">
                          <option value="australia">50% off</option>
                          <option value="canada">20 % off</option>
                          <option value="usa">2 for 1</option>
                        </select> -->


												<!-- <input type="submit" value="Submit"> -->
											</form>
										</div>
									</div>
								</div>
							</mat-expansion-panel>
							<!-- <mat-action-row>
                        <button mat-button>Click me</button>
                      </mat-action-row> -->

						</mat-accordion>
					</div>
					<div class="mt-2">
						<mat-accordion>
							<mat-expansion-panel (closed)="panelOpenState = true" (opened)="panelOpenState = false">
								<mat-expansion-panel-header class="bg-dark">
									<mat-panel-title class="">
										Coupon Generation
									</mat-panel-title>
									<mat-panel-description>
										<span class="material-icons mr-2">
											local_offer
										</span> Coupon Information

									</mat-panel-description>
								</mat-expansion-panel-header>
								<div class="card">
									<div class="card-body">

										<div class="container">
											<form>
												<label for="cname">Coupon Name*:</label>
												<input type="text" id="cname" name="cname" class="ftext"
													placeholder="Your name.." [(ngModel)]="couponcode">

												<label for="validity">Valid until*:</label>
												<input type="date" id="validity" name="validity" class="ftext"
													placeholder="Your last name.." [(ngModel)]="validity">
												<label for="tnc">Terms & Conditions:</label>
												<textarea id="tnc" name="tnc" placeholder="Mention all T&Cs"
													style="height:80px" [(ngModel)]="tnc"></textarea>

												<label for="web">Website:</label>
												<textarea id="web" name="web" placeholder="Type your website here"
													style="height:80px" [(ngModel)]="web"></textarea>


												<!-- <input type="text" name="product" list="productName"/>
<datalist id="productName">
    <option value="Pen">Pen</option>
    <option value="Pencil">Pencil</option>
    <option value="Paper">Paper</option>
</datalist> -->

												<!-- <input type="submit" value="Submit"> -->
											</form>
										</div>
									</div>
								</div>
							</mat-expansion-panel>
							<!-- <mat-action-row>
                        <button mat-button>Click me</button>
                      </mat-action-row> -->

						</mat-accordion>
					</div>

				</div>
				<!-- <div class="footer text-center">
					<button class="btn btn2 mt-5 mb-2">Next</button>
					
				</div> -->
			
			</div>

			<div class="col-md- 2 offset-md-1 mobile">
				<!-- <mobile></mobile> -->


				<!-- <button class="badge badge-pill badge-primary"></button>
          <button class="badge badge-pill badge-primary">QR Code</button>
        </span> -->


				<div class="card-body" style="position:fixed; ">
					<!-- <div class="form-inline">
        <div class="box-3 ">
          <div class="btn3 btn-three">
            <span (click)="change2()" >{{btn1}}</span>
            
          </div>
        </div>
      
       </div> -->

					<div class="smartphone" style="background-color: rgb(68, 127, 182);position:fixed;">

						<!-- <div class="text-center"> -->
						<!-- <div class="content"> -->
							<mat-spinner class="spinner" *ngIf="spinner"></mat-spinner>
						<div *ngIf="btn1=='QR Code'&&!spinner">
							<div *ngIf="!coupon">

								<div class="container main-content mt-4 ">

									<div class="card">
										<div class="card-header">
											<div class="row">
												<div class="col-md-10"><span> {{Company}}</span></div>
												<div class="col-md-2">
													<span class="material-icons share" style="position:static;">
														share
													</span></div>
											</div>
										</div>
										<div class="background" [ngStyle]="{background: backgroundColor}">
											<div>
												<img class="img" [style.width.px]="ImgSize" [src]="imgURL"
													*ngIf="imgURL">
											</div>
											<div class="text-center">
												<span class="badge badge1 badge-primary "> {{offer}}</span>
											</div>


											<div class="card-body">
												<h5 [ngStyle]="{color: fontColor}">{{heading}}</h5>
												<span [ngStyle]="{color: fontColor}">
													{{desc}}
												</span>


											</div>
										</div>
										<div class="text-center">
											<button class="btn btn-block text-light" [ngStyle]="{background: linkColor}"
												(click)="couponc()">Get
												Coupon</button>
										</div>
									</div>


								</div>
							</div>
							<!-- </div> -->
							<!-- </div> -->
							<!-- <div class="font-weight-bold text-center mt-3">  QR Code Preview</div> -->

							<div class="container" style="background-color: rgb(68, 127, 182);height: 100%;"
								*ngIf="coupon">

								<div class="text-light">

									<div class="row ">
										<div class="col-md-10 c">
											<h4> {{Company}}</h4>
										</div>
										<div class="col-md-2 c">
											<span class="material-icons share">
												share
											</span></div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-10 offset-md-1">
										<div class="card" *ngIf="coupon" style="margin-top: 40px;">

											<div class="card-body">
												<div class="text-center">
													<h4 class="mar1"> Coupon Code</h4>
													<h3 class="mar1">{{couponcode}}</h3>

													<div class="mar">
														<span class="material-icons font-weight-bold">
															access_time
														</span>Valid until {{ validity}}
													</div>
													<button class="badge badge-pill mar"
														(click)="copyMessage(couponcode)" value="click to copy"><span
															class="material-icons">
															content_copy
														</span>{{btn}}</button>
												</div>

												<button class="btn btn-primary btn-block mar"
													[ngStyle]="{background: linkColor}">
													<a (click)="goToLink()"> Redeem Code</a>
												</button>
												<button class="btn btn-block mar1 btn-success" (click)="couponc()" >
													View Description
												</button>

											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
						<div *ngIf="btn1!='QR Code'&&!spinner" class="text-center">
							<img class="img pb-5 pt-4" [src]="img1" alt="QR Code">
							<h2 class="pb-2"> Scan this QR Code to preview</h2>
							<p>You can customize the design of your
								QR Code in the next step.</p>
						</div>
					</div>



				</div>

				<!-- <button mat-flat-button style="margin-top: 610px; margin-left: 110px;" class="round" color="primary" (click)="change2()">QR Code</button> -->
				<button style="margin-top: 612px; margin-left: 160px;position: fixed;" mat-flat-button class="round"
					color="accent" (click)="change2()" *ngIf="img1">{{btn1}}</button>


			</div>

		</div>

	</div>

</div>
<div class="footer">
    <button class="btn btn2 mt-3"  (click)="navigate()">Next</button>
</div>
