<mat-progress-bar *ngIf="!data" mode="indeterminate"></mat-progress-bar>
<mat-spinner class="spinner" *ngIf="!data"></mat-spinner>
<div class="text-center" *ngIf="data" style="background-color: rgb(68, 127, 182);" [ngStyle]="{background: backgroundColor}">

    <!-- <div class="text-center"> -->
    <!-- <div class="content"> -->
        <mat-spinner class="spinner" *ngIf="spinner"></mat-spinner>
    <div *ngIf="!spinner">
        <div >

                
                
                                
                                    <div class="material-icons share pr-2" style="float: right;" >
                                        share
                                    </div>
                        
                
                    <div >
                    
                    

                            <h4 class="text-center font mt-4" [ngStyle]="{color: fontColor}">{{data.basic_information.appName}}</h4>
                            <h5 class="text-center font mt-4" [ngStyle]="{color: fontColor}">{{data.basic_information.developer}}</h5>

                            <div class="text-center mt-4">
                                <img class="img" [style.width.px]="ImgSize" [src]="imgURL"
                                *ngIf="imgURL">
                            </div>
                            <h5 [ngStyle]="{color: fontColor}" class="text-center font2 mt-4">
                                {{data.basic_information.title}}
                                
                            </h5>
                            <p [ngStyle]="{color: fontColor}" class="text-center font2 mt-4">
                                {{data.basic_information.information}}
                                
                            </p>

                            
                              
                    
                    </div>
                    
                    

            
                        <div class="text-center">
                            <a (click)="goToLink1()">	<img class="img1" src="https://www.pngkey.com/png/full/203-2031321_app-store-icon-play-store-icon-google-logo.png" alt="" >
                            </a>
                            <a (click)="goToLink2()">	<img class="img2" src="https://www.pngkit.com/png/full/222-2228956_app-store-logo-app-store-icon-white.png" alt="">
                            </a>
                                   </div>
<!-- <img src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" alt=""> -->
            <div class="pt-1 text-center font"  [ngStyle]="{color: linkColor}">{{data.basic_information.website}}</div>


            <!-- <div class="text-center">
                        
                <button class="btn btn-block text-light"
                    (click)="couponc()">{{btn}}</button>
            </div> -->
        </div>

    
    </div>

</div>